
<h3>Test text</h3>
<!--These components are only added in as API testing remnants, they currently function but this home page is not where they would actually be stored,
  Once we start to reconfigure the front end towards its final form these will have to be moved to the dashboard, and the User registration/Log in splash
  Should be the first page as I understand currently -Troy-->
<app-user-profile></app-user-profile>

<ng-container>
  <h1 style="text-align:center">Welcome to Project1! </h1>

  <p> Project 1 is a personal accountability Web App with a focus on setting small achievable goals for yourself in order for self improvement </p>



  <!--I didn't know what to put for this front page really so I just grabbed a stock photo that was free to
    for commercial purposes w/out attribution, I don't really have any attachment to this picture simply a place holder'!-->
  <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_960_720.jpg" />

</ng-container>

<!--I think the *ngIf with the async pipe should load this div if the user is logged in but i'm not sure 100% and I can't test it from
  this IP address
*ngIf="isAuthenticated() | async"-->
<div *ngIf="isLoggedIn">
  <app-dashboard></app-dashboard>
</div>
<div *ngIf="!isLoggedIn">
  <app-guest-dash></app-guest-dash>
</div>









